<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>

<body>
    <form action="/sign-up" method="post">
        <div class="container">
            <h1>Sign Up</h1>
            <!-- TODO: if data then render -->
            <p>{{.}}</p>
            <p>Please fill in this form to sign in</p>
            <hr>

            <label><b>Email</b></label>
            <input type="email" placeholder="Enter Email" name="email" required pattern=".+@gmail.com" size="30">

            <label><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <div class="clearfix">
                <button type="submit">Sign Up</button>
            </div>
        </div>
    </form>
</body>

</html>