<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laptop Loans</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
</head>

<body>
    <h1>Laptop Loans</h1>
    <form action={{.PostURL}} method="post" enctype="multipart/form-data">
        <label for="user-id">User ID</label>
        <input required type="text" id="user-id" name="user-id" placeholder="4008001">

        <label for="start-date">Start date</label>
        <input type="date" id="start-date" name="start-date" value={{.MinDate}} min={{.MinDate}} max={{.MaxDate}}>

        <label for="end-date">End date</label>
        <input type="date" id="end-date" name="end-date" value={{.MinDate}} min={{.MinDate}} max={{.MaxDate}}>

        <label for="loan-form">Document upload</label>
        <input required type="file" name="loan-form" id="loan-form" accept="application/pdf">

        <input type="submit" value="submit">
    </form>
</body>

</html>